html {
  cursor: url(../images/mata_mosca.png) 25 25, auto;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #373737;
  border: none;
  border-radius: 5px;
  color: #fff;
  box-shadow: 3px 3px 5px#0000006b;
}

button:hover {
  cursor: pointer;
  transform: translateY(-2px);
  transition: 300ms;
  background-color: #222;
}